/**
 * Base
 */
html {
	font-size: $base-font-size;
	font-family: $font-body;
	line-height: $base-line-height-unitless;
	color: #000;

	// Enable kerning and ligatures
	text-rendering: optimizeLegibility;

	// enable this on element basis
	-webkit-font-smoothing: antialiased;

}

// Set a default margin between elements
blockquote,
ol,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
fieldset,
input,
textarea {
    margin: 0 0 1em;
}
fieldset {
	border: 0;
	padding: 0;
}
figure {
	margin: 0;
}
blockquote {
	font-style: italic;
}
address {
	font-style: normal;
}
// Link styles
a {
	text-decoration: none;
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}
// Responsive media
iframe,
img {
	max-width: 100%;
}
// Headers
h1,
h2,
h3,
h4 {
	margin-top: 0;
	line-height: 1.1;
}
h1 {
	font-size: rem(36);
	margin-bottom: em(5,36);
}
h2 {
	font-size: rem(22);
	margin-bottom: em(7,22);
}
h3 {
	font-size: rem(16);
}
h4 {
	font-size: rem(12);
}


/**
 * Alignment helpers
 */
.align-left {
	float: left;
	margin-right: rem($u-space);
	margin-bottom: rem($u-space);
}
.align-right {
	float: right;
	margin-left: rem($u-space);
	margin-bottom: rem($u-space);
}
.align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
