/*! suit-button v3.0.0 | MIT License | github.com/suitcss */

/* ==========================================================================
   SUIT: Button
   ========================================================================== */

/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="Button [Button--modifier]" role="button" href="[url]">Button text</a>
 * <button class="Button [Button--modifier]" type="submit">Button text</button>
 * <input class="Button [Button--modifier]" type="submit" value="Button text">
 */

/**
 * Button template
 *
 * Build on this component using rulesets in your application-level CSS.
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Take up the full width of the parent context.
 * 5. Inherit font styles from ancestor.
 * 6. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 7. Prevent button text from being selectable.
 * 8. Make sure `input` will wrap text across multiple lines.
 */

.Button {
    -webkit-appearance: none; /* 1 */
    background: transparent;
    border: 1px solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* 2 */
    color: inherit; /* 3 */
    cursor: pointer;
    display: block; /* 4 */
    font: inherit; /* 5 */
    line-height: normal; /* 6 */
    margin: 0;
    padding: 0.3em 0.6em 0.25em;
    position: relative;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; /* 7 */
    white-space: normal; /* 8 */
    width: 100%; /* 4 */
}

/**
 * UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
    text-decoration: none;
}

.Button:disabled,
.Button.is-disabled {
    cursor: default;
    color: gray;
    &:hover {
        color: inherit;
    }
}
