/**
 * Config
 */

/**
 * Compass
 */
// $browser-minimum-versions: (
//   'chrome':  null,
//   'firefox': null,
//   'ie':      null,
//   'safari':  null,
//   'opera':   null
// ) !default;

/**
 * Typography
 */
$base-font-size-unitless: 16;
$base-font-size: $base-font-size-unitless * 1px;
$base-line-height-unitless: 1.3;
$font-body: 'Helvetica Neue', Helvetica, sans-serif;
$font-header: $font-body;

/**
 * Colors
 */
$blue: #1a70ff;
$red: #f00;
$bg-color: #fff !default;
$text-color: #111 !default;
$header-color: #000 !default;
$link-color: $blue !default;
$link-color-hover: $red !default;
$link-color-active: $link-color-hover !default;

/**
 * Layout
 */
$u-space: 20px;

/**
 * Layout: Susy
 */
$susy: (
	box-sizing: border-box,
	container: 900px,
	columns: 10,
	gutters: 2
);

$easing: cubic-bezier(0.770, 0, 0.175, 1);
$easing2: cubic-bezier(0.165,.84,.44,1);
$easing3: cubic-bezier(1,.01,.3,1);

/**
 * Layout: Breakpoints
 */
$breakpoint-no-query-fallbacks: true;

// - use like this: @include breakpoint($layout-l) {}
$layout-s: 30em, 'no-query' '.lt-ie9';
$layout-sm: 40em, 'no-query' '.lt-ie9';
$layout-m: 50em, 'no-query' '.lt-ie9';
$layout-ml: 60em, 'no-query' '.lt-ie9';
$layout-l: 70em, 'no-query' '.lt-ie9';
