block vars
	- var active = 'Index'
	- var bodyClass = ''
	- var description = ''

extends views/layout/layout

block outlet
	.header
		.container
			.col-1--right
				h1
			.col-1--left
				p <u> Berlin is very fast moving and the city hot spots change more often than in any other metropolis. This guide takes you by the hand and makes sure you get to experience the best that berlin has to offer in its hot summer days &amp; nights or cosy winter moments.

				p   Berlin inspires constantly works with local contributors from the fields of fashion, design, art, media and culture and city-insiders to uncover berlin's best kept secrets. Explore the places where they go!</u>
	.container.second
			.col-2--left
				img(src="images/morepictures_purple.png")
				a.js-galleryToggle(href="#js-gallery") Click here for more pictures

				.js-gallery.Gallery
					a(href="images/_Faecher.jpg")
						img(src="images/_Faecher.jpg", alt='')
					a(href="images/B_2_.jpg")
						img(src="images/B_2_.jpg", alt='')
					a(href="images/B_3.jpg")
						img(src="images/B_3.jpg", alt='')
					a(href="images/B_4.jpg")
						img(src="images/B_4.jpg", alt='')
					a(href="images/B_7.jpg")
						img(src="images/B_7.jpg", alt='')
					a(href="images/B_15.jpg")
						img(src="images/B_15.jpg", alt='')
					a(href="images/B_17.jpg")
						img(src="images/B_17.jpg", alt='')
					a(href="images/B_18.jpg")
						img(src="images/B_18.jpg", alt='')

			.col-2--middle
				p What can we say about Berlin in winter? It's cold, yes, and scientists are yet to reveal where all the people disappear to between november and march. There may be some southerly migration, but don't mistake the external alm that remains for hibernation.
				p	Behind the dripping glass doors of smoky bars and frosted facades of cosy restaurants, the city is more alive than ever, enticed by the long dark nights into fatalistic abandon. Snuggle up in the restored splendour of an arthouse cinema or sweat it out in a cramped Vietnamese street food joint. Discover cutting-edge design in a scene obsessed with sustainability. Fill upon the fruits of the city's gastronomic renaissance, from artisan coffee to secret supper clubs. There's never been a better time to be indoors in Berlin. Need more proof? Just order!
			.col-2--right
				ul
					li More than 150 points of interest
					li Berlin Insights – tips from prominent Berlin insiders
					li Winter Specials – sweet sensations, fireplaces &amp; tea rooms, private cooking, etc.
					li Café &amp; Breakfast – lounge around, to go, etc.
					li Lunch &amp; Dinner – selected locations for every mood
					li Berlin Nights – edgy, casual, scene bars/ clubs and some to party all night long
					li Most Wanted Shops – finest selection of designer, urban &amp; vintage fashion, jewellery, shoes &amp; accessories, interior &amp; books, etc.
					li Hotels – design, hidden specials or luxury?
					li Winter Weekender – art, city walk &amp; cool rides, etc.

		.container.second--2
			.col-3--left
				.image
					img(src="images/pocketguide-purple.jpg")
				h2 <u> Pocket Guide </u>
				ul
					li Get inspired with seasanol content and exclusively selected new locations
				p <u>	6,95 € </u>
				a.button(href="http://shop.liganova.com/nc/shop/detail/products/inspiration-guide-berlin-iss-6.html") Order now
			.col-3--right
				.image
					img(src="images/iphone-purple.jpg")
				h2 <u> iPhone app </u>
				ul
					li GPS Navigation – direction to every single featured hot spot
					li Around Me – overview on some of the featured locations right in your surrounding
					li Event Calender – live update of selected Berlin events
					li Functions Off-Line: 24/7 medical assistance - emergency aid
				p <u>	0,79 € </u>
				a.button.button--right(href="http://itunes.apple.com/de/app/berlin-inspires/id445566589?mt=8") Download now


		.container.second--2
			.col-4--left
				h3 PRESENTED BY
				a(href="http://www.liganova.com/")
					img(src="images/liganova_retina.png")
				p	LIGANOVA is a specialist in integrated BrandRetail Marketing. Our intuition for zeitgeist creates distinction and our attention to detail the decisive advantage. We create cutting edge brand experiences – without losing sight of the brands identity. In a unique process we work‘through the line’, blurring the boundaries between classic
				a(href="http://www.liganova.com") www.liganova.com
			.col-4--right
				p   brand communication and point-of-sale marketing.The result is the creation of meaningful solutions across all channels; solutions that really do succeed in activating customers – because they take place where the customers are.
			.col-5
				h3 IMPRINT
				p	LIGANOVA GmbH . The BrandRetail Company . Herdweg 59 . 70174 Stuttgart . Germany . phone +49 711 652 20-201 . fax +49 711 652 20 99-201 . www.liganova.com </br> Managing Directors - Bodo Vincent Andrin . Michael Haiser Registered with the commercial register of Stuttgart - AG Stuttgart HRB 22335
				a(href="https://www.facebook.com/BerlinInspiresGuide?fref=ts")
					img(src="images/fb.png")
