/**
 * Layout
 */
$borderbottom:0.154em;
$ColorWhite:white;
$StandartFontSize:0.8em;

*{
	box-sizing: border-box;
}
body {
	font-family:'Tw Cen W01 Light', sans-serif;
}
a {
	color: black;
}

h2,
h3 {
	text-transform: uppercase;
}
h2 {
		font-size: 1.2em;
		margin-bottom: 1.0em;
}
a:hover {
	color: lightgrey;
}
.button {
			margin-left: 13.8em;
			padding: 5px 20px;
			background-color: black;
			text-transform: uppercase;
			color: $ColorWhite;
		&.button--right {
			margin-left: 14.5em;
		}
		.button:hover {
			background-color: grey;

		}
}

.header {
	//position: relative;
	width: 100%;
	padding-left: 1.250em;
	padding-right: 1.250em;
	padding-bottom: 1em;
	/* Adding a gradient*/
	background:#452176; /* Old browsers */
	background:linear-gradient(to bottom,  #452176 0%,#562b91 51%,#452176 100%);
}
.container {
	position: relative;
	@include container(hide);

	&.second {
		margin-top: 3em;
	}
	&.second--2 {
		margin-top: 6em;
	}
}
.col-1--left {
	margin-right: 35em;
	position: absolute;
	bottom: 2.1em;

	p {
		font-size: 1.22em;
		font-family: 'Tw Cen W01 Medium';
		text-transform: uppercase;
		color: $ColorWhite;
	}
}
	u {
		text-decoration:none;
		border-bottom: 0.12em solid $ColorWhite;
	}
.col-1--right {
	@include span(last 5 of 10);
	background: url('../images/berlininspires-logo.png');
	background-repeat: no-repeat;
	background-width: 341px;
	background-position: top right;
	height: 490px;
	margin-top: 4em;
	margin-bottom: 3em;
}

.col-2--left {
	@include span(5 of 10);
	a {
	text-transform: uppercase;
	font-size: $StandartFontSize;
	font-weight: bold;
	}
	img {
	margin-bottom: 10px;
	}
}
.col-2--middle {
	@include span(2.5 of 10);
	margin-right: gutter(10) / 4;

	p {
		font-size: $StandartFontSize;
		line-height: 1.4em;
		margin-right: 2px;
	}
}
.col-2--right {
	@include span(last 3 of 10);

	ul {
		font-size: $StandartFontSize;
		//line-height: 1.1em;
		li{
			padding-bottom:1.1em;
		}
	}
}
.col-3--left {
	@include span(5 of 10);
		u{
			border-bottom: $borderbottom solid;
		}

	ul {
		list-style-type: none;
		font-size: $StandartFontSize;
		margin-bottom: 11em;
	}
	p {
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 2.5em;
		u{
			border-bottom: $borderbottom solid;
		}
	}
	a:hover, a:active {
		outline: 0px none;
		}
	a:hover {
		color: lightgrey;
		}
		.image {
			@include span(5 of 10);
		}
}
.col-3--right {
	@include span(last 5 of 10);
		u {
			border-bottom: $borderbottom solid;
		}

	ul {
		font-size: $StandartFontSize;
		line-height: 1.0em;
		margin-bottom: 1.5em;
		margin-right: 1em;
		li {
			padding-bottom: 0.7em;
		}
	}
	p {
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 2.6em;
		u {
			border-bottom: $borderbottom solid;
		}
	}
	a:hover, a:active {
		outline: 0px none;
	}
	a:hover {
		color: lightgrey;
	}
		.image {
			@include span(3.5 of 10);
			margin-right: 6.6em;
		}
}
.col-4--left {
	@include span(5 of 10);
	h3 {
		margin-bottom: 2em;
	}
	img {
		width: 14em;
		height: auto;
	}
	a {
		font-size: $StandartFontSize;
	}
	p {
		font-size: $StandartFontSize;
		margin-top: 2.5em;
		line-height: 1.5em;
	}
}
.col-4--right {
	@include span(last 5 of 10);
	p {
		font-size: $StandartFontSize;
		margin-top: 9.3em;
		line-height: 1.5em;
	}
}
.col-5 {
	@include span(last 10 of 10);
	margin-top: 5em;
	margin-bottom: 5em;
	h3 {
		margin-bottom: 1.5em;
	}
	p {
		font-size: 0.6em;
		letter-spacing: 0.1em;
		margin-bottom: 2em;
	}
}

.Gallery {
	display: none;
}

@media (max-width: 40em) {
        // stretch it to fullwidth so the other column goes below
        .col-1--right {
                width: 100%;
        }
        .col-1--left{
                // remove absolute pos
                position: static;
                // remove width and margin right
                width: auto;
                margin-right: 0;
                // smaller font size
                p {
                        font-size: 1em;
                }
        }

        // add some spacing to the sides of all containers
        .container {
                padding-left: 1em;
                padding-right: 1em;
        }

        // remove float, width and margin from columns to make them full width
        // and underneath eachother
        .container.second > div,
        .col-3--left,
        .col-3--right {
			width: auto;
			float: none;
			margin-right: 0;
			margin-bottom: 1em;
        }
		.button {
			margin-left: 0em;
			&.button--right {
			margin-left: 20em;
			}
		}
        // image column make it cented
        .col-2--left {
			text-align: center;
			margin-bottom: 1em;
                img {
					display: block;
					margin: 0 auto 10px;
                }
        }
        .col-2--middle {
			margin-top: 2em;
        }
        .col-2--right {
			margin-top: 2em;
        }
        .col-3--left {
        	margin-bottom: 4em;
        	p {
        		margin-bottom: 3.5em;
        	}
        }
        .col-3--right {

        	ul {
        		margin-bottom: 3.5em;
        	}
        	.image {
			margin-right: 8.5em;
			}
		}
}
