//- local vars
block vars
	- var bodyClass = ''
	- var active = active || ''

doctype
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
	// <![endif]

	head
		block header
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			if active == 'Index'
				title Berlin Inspires
			else
				title #{active} | Berlin Inspires
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width')

			script(src="http://fast.fonts.com/jsapi/d861b152-62e8-4d58-8819-10d8d9647986.js")

			// build:css(.tmp) styles/main.css
			link(rel='stylesheet', href='styles/main.css')
			// endbuild

			// build:js scripts/vendor/modernizr-custom.js
			script(src='scripts/vendor/modernizr-custom.js')
			// endbuild

	body(class="#{bodyClass}")

		header#SiteHeader.SiteHeader
			include ../modules/header

		main#SiteMain.SiteMain
			block outlet

		.Scripts
			// build:js(app) scripts/main.js
			script(src='bower_components/jquery/jquery.js')
			script(src="bower_components/magnific-popup/dist/jquery.magnific-popup.js")
			script(src='scripts/app.js')
			// endbuild

			<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
			script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='https://www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
