/**
 * Media block
 */

.MediaBlock {
	position: relative;
	zoom: 1;
}
.MediaBlock-media {
	float: left;
	margin-right: rem($u-space);
}
.MediaBlock-body {
	display: table-cell;
	width: 10000px;
	*width: auto;
}

// Modifier: Right aligned
.MediaBlock-media--right {
	float: right;
	margin-right: 0;
	margin-left: rem($u-space);
}
