/**
 * Masonry grid
 */

// ONLY use this when your grid items have variable height and you want to
// eliminate the gaps.

// In order to solve fluid roundings, two elements are inserted with JavaScript: .Masonry-gridSizer and .gutter-sizer

// The horizontal gutter comes from the .gutter-sizer element only
// so do not use any margin-left or right on the .Masonry-gridSizer or grid items

// The grid here is responsive.
// The grid goes from 1 -> 2 -> 3 -> 4 items in each row.

// Small version
$small-mq: 560px;
$small-columns: 2;

// Small/Medium version
$smallmedium-mq: 730px;
$smallmedium-columns: 3;

// Medium version
$medium-mq: 1100px;
$medium-columns: 4;

// Medium/Large version
$mediumlarge-mq: 1200px;
$mediumlarge-columns: 5;

// Large version
$large-mq: 1500px;
$large-columns: 6;


// Fade in masonry when it is ready. Class is added with js.
.Masonry {
	visibility: hidden;
	opacity: 0;
	transition: opacity 100ms;
	&.is-active {
		visibility: visible;
		opacity: 1;
	}
}

// Defaults
.Masonry-item,
.Masonry-gridSizer {
	float: left;
	width: 100%;
	margin-bottom: rem($space);

	// Make sure images scale
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

// SMALL
@media (min-width: em($small-mq)) {
	.Masonry-item,
	.Masonry-gridSizer {
		width: columns(1, $small-columns);
		// &.is-featured { width: columns(2,$small-columns); }
	}
	.Masonry-gutterSizer {
		width: gutter($small-columns);
	}
}

// SMALLMEDIUM
@media (min-width: em($smallmedium-mq)) {
	.Masonry-item,
	.Masonry-gridSizer {
		width: columns(1, $smallmedium-columns);
		// &.is-featured { width: columns(2,$smallmedium-columns); }
	}
	.Masonry-gutterSizer {
		width: gutter($smallmedium-columns);
	}
}

// MEDIUM
@media (min-width: em($medium-mq)) {
	.Masonry-item,
	.Masonry-gridSizer {
		width: columns(1, $medium-columns);
		// &.is-featured { width: columns(2,$medium-columns); }
	}
	.Masonry-gutterSizer {
		width: gutter($medium-columns);
	}
}

// MEDIUMLARGE
@media (min-width: em($mediumlarge-mq)) {
	.Masonry-item,
	.Masonry-gridSizer {
		width: columns(1, $mediumlarge-columns);
		// &.is-featured { width: columns(2,$mediumlarge-columns); }
	}
	.Masonry-gutterSizer {
		width: gutter($mediumlarge-columns);
	}
}

// LARGE
@media (min-width: em($large-mq)) {
	.Masonry-item,
	.Masonry-gridSizer {
		width: columns(1, $large-columns);
		// &.is-featured { width: columns(2,$large-columns); }
	}
	.Masonry-gutterSizer {
		width: gutter($large-columns);
	}
}
